import styles from './{{name}}.module.scss'
import {Props} from './{{name}}.constants'

export default function {{pascalCase name}} ({ }: Props) {
  return (
    <section className={styles.wrapper}>

    </section>
  )
}