.OrderData {
  > a {
    display: block;
    width: fit-content;
    margin-bottom: 64px;
  }

  h1 {
    text-align: center;
  }

  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: clamp(12px, calc(16vw / 7.68), 24px);
    margin-top: clamp(24px, calc(28vw / 7.68), 36px);

    @media (max-width: 540px) {
      grid-template-columns: 1fr;
    }

    > div {
      display: flex;
      gap: 16px;
      max-width: 380px;
      width: 100%;

      @media (max-width: 540px) {
        display: grid;
        grid-template-columns: 70px 1fr;
        gap: 12px;
      }

      &:nth-child(2n) {
        margin-left: auto;

        @media (max-width: 540px) {
          margin-left: 0;
        }
      }

      &.main {
        justify-content: space-between;
      }

      .title {
        color: var(--primary-700, #766965);
        font-size: 14px;
        font-weight: 300;
        line-height: 150%;
      }

      .flex-text {
        display: flex;
        gap: 6px;
        align-items: center;

        button {
          color: #5c7360;
          font-size: 14px;
          font-style: italic;
          font-weight: 300;
          line-height: 130%;

          &::after {
            bottom: 0;
            background-color: #5c7360;
          }
        }
      }

      .text {
        color: var(--primary-700, #766965);
        font-size: 14px;
        font-weight: 300;
        line-height: 150%;
      }
    }
  }

  .progress {
    margin-top: 36px;
    button {
      display: block;
      margin: 16px auto 0;
      color: #882f2f;
      font-size: 14px;
      font-style: italic;
      font-weight: 300;
      line-height: 130%;

      &::after {
        bottom: 0;
        background-color: #882f2f;
      }
    }
    p {
      color: var(--primary-800, #53423c);
      font-size: 14px;
      font-weight: 300;
      line-height: 150%;
      margin-bottom: 8px;
    }
    .line {
      display: block;
      width: 100%;
      height: 2px;
      border-radius: 1px;
      background: var(--primary-300, #efe8e7);
      position: relative;

      &::after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        width: var(--percent);
        border-radius: 1px;
        background: var(--primary-600, #9a827a);
      }
    }
  }

  .products {
    h2 {
      margin-top: 80px;
      margin-bottom: 48px;
      color: var(--primary-800, #53423c);
      font-size: 24px;
      font-weight: 300;
      line-height: 130%;
    }

    .products-grid {
      .product {
        margin-top: 16px;
        padding-bottom: 8px;
        border-bottom: 1px solid var(--primary-300, #efe8e7);
        display: flex;
        justify-content: space-between;
        align-items: center;

        .content {
          display: grid;
          grid-template-columns: 174px 1fr;
          gap: 16px;

          @media (max-width: 380px) {
            grid-template-columns: 1fr 1fr;
          }

          .right-column {
            p {
              font-size: clamp(16px, calc(18vw / 7.68), 18px);
            }
          }

          .price {
            margin-top: 12px;
            display: flex;
            align-items: center;
            gap: 8px;

            span {
              color: var(--primary-800, #53423c);
              font-size: 18px;
              font-weight: 300;
              line-height: 150%;

              &.discount {
                color: var(--primary-600, #9a827a);
                font-size: 14px;
                line-height: 150%;
                text-decoration: line-through;
              }
            }
          }

          .image-wrap {
            position: relative;

            .badge {
              position: absolute;
              display: block;
              top: 0;
              left: 0;
              padding: 8px 16px 8px 20px;
              border-radius: 0px 0px 4px 0px;
              max-width: 100%;

              span {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                display: block;
              }
            }

            img {
              border-radius: 4px;
              aspect-ratio: 174/126;
              width: 100%;
              height: auto;
              object-fit: cover;
            }
          }
        }
      }
    }
  }

  .summary {
    margin-top: 28px;
    margin-left: auto;
    max-width: 290px;
    width: 100%;
    display: grid;
    gap: 12px;

    @media (max-width: 480px) {
      max-width: 100%;
    }

    p {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 12px;
      color: var(--primary-700, #766965);
      font-size: 14px;
      font-weight: 300;
      line-height: 150%;

      span:last-child {
        font-size: 18px;
      }
    }
  }
}
