.productCard {
  text-align: center;
  position: relative;

  .rating {
    display: flex;
    gap: 4px;
    justify-content: center;
    margin-bottom: 4px;

    span {
      font-size: 14px;
      color: var(--primary-800, #53423c);

      b {
        font-weight: 300;
        font-size: 32px;
        font-family: var(--font-city-streetwear);
      }
    }
  }

  &.horizontal {
    display: grid;
    align-items: center;
    grid-template-columns: 292fr 374fr;
    gap: 24px;
    text-align: left;

    button {
      margin-left: 0;
    }

    img {
      margin-bottom: 0 !important;
    }

    .rating {
      justify-content: flex-start;
    }

    .price {
      justify-content: flex-start;
    }
  }

  &.tablet-horizontal {
    @media (max-width: 899px) and (min-width: 600px) {
      display: grid;
      align-items: center;
      grid-template-columns: 292fr 374fr;
      gap: 24px;
      text-align: left;

      img {
        margin-bottom: 0 !important;
      }

      button {
        margin-left: 0;
      }

      .rating {
        justify-content: flex-start;
      }

      .price {
        justify-content: flex-start;
      }
    }
  }

  h3 {
    font-size: clamp(18px, calc(24vw / 7.68), 24px);
  }

  .link {
    position: absolute;
    inset: 0;
    z-index: 2;
    margin: 0 !important;
  }

  .image-wrap {
    position: relative;

    .badge {
      font-size: 14px;
      position: absolute;
      display: block;
      top: 0;
      left: 0;
      padding: 8px 16px 8px 20px;
      border-radius: 0px 0px 4px 0px;
      max-width: 100%;

      span {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        display: block;
      }
    }

    img {
      max-width: 100%;
      width: 100%;
      height: auto;
      object-fit: cover;
      aspect-ratio: 380/280;
      border-radius: 4px;
      margin-bottom: 24px;
    }
  }

  .names {
    margin-bottom: 8px;
  }

  a,
  button {
    position: relative;
    margin: 36px auto 0 auto;
    z-index: 3;
  }

  .price {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;

    span {
      color: var(--primary-800, #53423c);
      font-size: 18px;
      font-weight: 300;
      line-height: 150%;

      &.discount {
        color: var(--primary-600, #9a827a);
        font-size: 14px;
        line-height: 150%;
        text-decoration: line-through;
      }
    }
  }
}
