.wrapper {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: clamp(36px, calc(64vw/7.68), 64px) 32px;
  > header {
    max-width: 680px;
  }
  .paragraph {
    max-width: 580px;
    margin: 24px 0 32px;
    p {
      &:not(:last-child) {
        margin-bottom: 8px;
      }
    }
  }
  .annotation {
    font-size: 14px;
    margin-top: 8px;
  }
  @media (max-width: 899px) {
    grid-template-columns: 1fr;
    text-align: center;
    > header {
      max-width: unset;
    }
    .paragraph {
      max-width: unset;
    }
    > img {
      margin: 0 auto;
    }
  }
}