.wrapper {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 32px;
  > header {
    max-width: 680px;
  }
  .paragraph {
    margin: 24px 0 32px;
    p {
      &:not(:last-child) {
        margin-bottom: 8px;
      }
    }
  }
  .annotation {
    font-size: 14px;
    margin-top: 8px;
  }
}