.wrapper {
  display: grid;
  @media (min-width: 900px){
    grid-template-columns: 1.3fr 1fr;
  }
  column-gap: 32px;
  background-color: var(--primary-200);
  header {
    padding: clamp(32px, calc(48vw/7.68), 64px) 0;
    h2 {
      margin-bottom: clamp(16px, calc(20vw/7.68), 28px);
    }
    .paragraph {
      p:not(:last-child){
        margin-bottom: 8px;
      }
    }
  }
  margin-top: clamp(32px, calc(48vw/7.68), 64px);
  .img {
    margin-top: calc(clamp(32px, calc(48vw/7.68), 64px) * -1);
    max-width: 381px;
    margin-left: auto;
  }
  position: relative;
  .decoration {
    position: absolute;
    width: clamp(76px, calc(92vw/7.68), 122px);
    height: auto;
    right: 30%;
    bottom: 0;
    transform: translate(-50%, 50%);
  }
  @media (max-width: 899px){
    h2 {
      width: 40%;
    }
    margin-top: calc(60% - clamp(32px, calc(48vw/7.68), 64px));
    .img {
      width: 60%;
      max-width: unset;
      order: -1;
      position: absolute;
      right: 0;
      margin-top: calc(-60% + clamp(32px, calc(48vw/7.68), 64px));
    }
    .decoration {
      right: 20%;
      transform: translate(0, 75%);
    }
  }
  @media (max-width: 499px){
    header {
      padding-top: 48px;
    }
    h2 {
      width: 100%;
    }
    margin-top: calc(100% - 24px);
    .img {
      width: 100%;
      margin-top: calc(-100% + 24px);
    }
    .decoration {
      right: 5%;
      transform: translate(0, 75%);
    }
  }
}