.wrapper {
  position: sticky;
  top: 0;
  padding: 36px 0 12px;
  background-color: var(--primary-100);
  > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    > ul {
      list-style-type: none;
      display: flex;
      align-items: center;
      gap: clamp(16px, calc(24vw/7.68), 40px);
      a {
        display: block;
      }
    }
  }
}