.Pagination {
  display: flex;
  gap: auto;
  align-items: center;
  align-self: stretch;
  min-width: 500px;
  justify-content: space-between;

  @media (max-width: 499px) {
    min-width: 100%;
  }

  .link {
    padding: 14px 20px;
  }
}