.FilesHero {
  > h1 {
    text-align: center;
    margin-bottom: 36px;
  }
  > p {
    text-align: center;
    margin-bottom: clamp(36px, calc(64vw/7.68), 80px);
  }
  .switch {
    max-width: 380px;
    margin: 0 auto;
    label {
      margin-bottom: 8px;
    }

    > p {
      color: var(--primary-800, #53423c);
      font-size: calc(14rem / 16);
      font-weight: 300;
      line-height: 150%;
    }
  }
}
