.wrapper {
  background-color: var(--primary-200);
  padding: 24px 0;
  > div {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 16px 32px;
  }
}