META_ACCESS_TOKEN=
GA4_MEASUREMENT_PROTOCOL_API=
IFIRMA_ABONENT_KEY=
SANDBOX=
P24_REST_API_KEY=
P24_MERCHANT_ID=
P24_POS_ID=
P24_CRC=
IFIRMA_API_KEY=
SUPABASE_SERVICE_KEY=
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SANITY_REVALIDATE_TOKEN=
RESEND_API_TOKEN=
SANITY_API_TOKEN=
SANITY_DATASET=
SANITY_PROJECT_ID=
NEXT_PUBLIC_BUNNY_API_KEY=
NEXT_PUBLIC_BUNNY_LIBRARY_ID=