.PickQuantity {
  column-gap: 8px;
  display: grid;
  grid-template-columns: 42px 38px 42px;
  p {
    font-size: calc(14rem / 16);
    margin-bottom: 4px;
    grid-column: 4/1;
    color: var(--primary-600);
  }
  input {
    text-align: center;
    height: 48px;
    border-radius: 4px;
    border: 1px solid var(--primary-300);
    padding: 8px;
    appearance: textfield;
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }
  button {
    width: 42px;
    height: 48px;
    display: grid;
    place-items: center;
    border-radius: 4px;
    transition: background-color 0.3s;
    &:hover {
      background-color: var(--primary-300);
    }
  }
}
