

body {
  font-size: 16rem;
  font-weight: 500;
  background: #FFFFFF;
  max-width: 100%;
  color: #000000;
  font-family: sans-serif;
  -webkit-tap-highlight-color: transparent;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: unset;
  list-style: none;
  scroll-margin-top: 110px;
}