.LessonNotes {
  max-width: 793px;
  width: 100%;
  margin: clamp(64px, calc(96vw / 7.68), 132px) auto 0 auto;
  h2 {
    text-align: center;
    margin-bottom: 20px;
  }

  p {
    text-align: center;
    margin-bottom: 48px;
  }

  button {
    margin: 24px auto 0 auto;
  }
}
