.ImagesGrid {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  gap: clamp(16px, calc(24vw/7.68), 32px);

  .item {
    display: grid;
    gap: clamp(8px, calc(12vw/7.68), 16px);
  }

  img {
    aspect-ratio: 1/1;
    width: 100%;
    height: auto;
    border-radius: 4px;
  }
}