.ListingCourses {
  h1 {
    margin-bottom: clamp(20px, calc(28vw / 7.68), 36px);
    text-align: center;
    position: relative;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;

    .total {
      top: 0;
      right: 0;
      transform: translate(100%, -20%);
      position: absolute;
      border-radius: 50%;
      background: var(--primary-300, #efe8e7);
      color: var(--primary-800, #53423c);
      text-align: center;
      aspect-ratio: 1;
      min-width: 28px;
      font-size: calc(14rem / 16);
      font-weight: 300;
      line-height: 150%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .grid {
    margin-top: clamp(48px, calc(80vw / 7.68), 96px);
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: clamp(20px, calc(20vw / 7.68), 32px);

    @media (max-width: 540px) {
      grid-template-columns: 1fr;
    }
  }
}

.empty {
  text-align: center;
  margin-top: 36px;
}

.filters {
  margin-top: 120px;

  @media (max-width: 899px) {
    width: calc(100% + 96px);
    margin: 120px -48px 0 -48px;
  }

  @media (max-width: 648px) {
    width: 100%;
    margin: 80px 0 0 0;
  }

  .filters-button-wrap {
    border-bottom: 1px solid var(--primary-400, #e5d8d4);
    display: flex;
    justify-content: flex-end;
    gap: 32px;

    .filters-button {
      display: flex;
      align-items: center;
      padding: 10px 0px;
      gap: 8px;
      cursor: pointer;

      svg {
        transform: rotateZ(180deg);
      }

      &[data-open='true'] {
        svg {
          transform: rotateZ(0deg);
        }
      }
    }
  }

  .filters-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 48px;
    margin-top: 16px;

    @media (max-width: 1024px) {
      gap: 24px;
    }

    @media (max-width: 680px) {
      grid-template-columns: 1fr 1fr;
    }

    @media (max-width: 380px) {
      grid-template-columns: 1fr;
    }

    &[data-open='false'] {
      display: none;
    }

    > div {
      h3 {
        margin-bottom: clamp(12px, calc(16vw / 7.68), 24px);
        font-size: calc(18rem / 16);
      }

      button {
        cursor: pointer;
        border: none;
        background: transparent;
        display: block;
        text-align: left;
        padding: 10px 8px;
        color: var(--primary-800, #53423c);
        font-size: calc(14rem / 16);
        font-weight: 300;
        line-height: 150%;
        margin: 0;
        width: 100%;
        transition: background-color 0.3s var(--easing);

        &:hover {
          background-color: var(--primary-200, #faf4f0);
        }

        &[data-active='true'] {
          background-color: var(--primary-200, #faf4f0);
        }
      }
    }
  }
  .sorting-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 8px;
    margin-top: 16px;
    button {
      height: 44px;
      display: flex;
      align-items: center;
      justify-content: center;
      transition:
        background-color 0.5s,
        color 0.4s;

      &:hover {
        background-color: var(--primary-200);
        color: var(--primary-600, #9a827a);
      }

      &[data-active='true'] {
        background-color: var(--primary-200);
        color: var(--primary-600, #9a827a);
      }
    }
  }

  .checkboxes {
    display: flex;
    gap: 48px;
    margin-top: 16px;

    &[data-open='false'] {
      display: none;
    }
  }

  .active-filters {
    margin-top: 28px;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: space-between;

    > button {
      height: fit-content;
    }

    > div {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      gap: 16px;

      button {
        display: flex;
        align-items: center;
        gap: 8px;
        font-size: clamp(calc(14rem / 16), calc(14vw / 7.68), calc(18rem / 16));
        padding: 10px 14px 10px 16px;
        border-radius: 4px;
        border: 1px solid var(--primary-500, #b4a29c);
        background: var(--primary-200, #faf4f0);

        @media (max-width: 1024px) {
          padding: 8px 12px 8px 14px;
        }
      }
    }
  }
}
