.ProductsListing {
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: clamp(28px, calc(28vw / 7.68), 48px) clamp(24px, calc(24vw / 7.68), 32px);
    margin-top: clamp(28px, calc(48vw / 7.68), 64px);

    @media (max-width: 899px) {
      grid-template-columns: 1fr 1fr;
    }
    @media (max-width: 520px) {
      grid-template-columns: 1fr;
    }
  }

  h2 {
    text-align: center;
    max-width: 800px;
    margin: 0 auto 36px auto;
  }

  h2 + div {
    text-align: center;
    max-width: 800px;
    margin: 0 auto 36px auto;
  }
}

.filters {
  .filters-button-wrap {
    border-bottom: 1px solid var(--primary-400, #e5d8d4);
    .filters-button {
      display: flex;
      align-items: center;
      padding: 10px 0px;
      gap: 8px;
      margin-left: auto;
      cursor: pointer;

      svg {
        transform: rotateZ(180deg);
      }

      &[data-open='true'] {
        svg {
          transform: rotateZ(0deg);
        }
      }
    }
  }

  .filters-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 96px;
    margin-top: 10px;

    &[data-open='false'] {
      display: none;
    }

    > div {
      h3 {
        margin-bottom: 24px;
      }

      button {
        cursor: pointer;
        border: none;
        background: transparent;
        display: block;
        text-align: left;
        padding: 10px 8px;
        color: var(--primary-800, #53423c);
        font-size: 18px;
        font-weight: 300;
        line-height: 150%;
        margin: 0;
        width: 100%;
        transition: background-color 0.3s var(--easing);

        &:hover {
          background-color: var(--primary-200, #faf4f0);
        }

        &[data-active='true'] {
          background-color: var(--primary-200, #faf4f0);
        }
      }
    }
  }

  .checkboxes {
    display: flex;
    gap: 48px;
    margin-top: 16px;

    &[data-open='false'] {
      display: none;
    }
  }
}
