.HeroBackground {
  padding: clamp(20px, calc(36vw/7.68), 48px) clamp(16px, calc(28vw/7.68), 64px);
  background: var(--primary-200);
  display: grid;

  .wrapper {
    max-width: 584px;
    display: grid;
    gap: clamp(16px, calc(28vw/7.68), 36px);
    justify-self: center;
    text-align: center;
  }
}