.EmptyFiles {
  margin-top: 144px;

  >h2 {
    text-align: center;
  }

  >p {
    text-align: center;
    margin-top: 28px;
  }

  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: clamp(16px, calc(24vw / 7.68), 24px);
    margin: 0 auto;
    width: fit-content;
    margin-top: clamp(20px, calc(48vw / 7.68), 48px);

    >div {
      max-width: 400px;
      width: 100%;

      .img {
        border-radius: 6px;
        overflow: hidden;
        position: relative;
        display: block;
        margin-bottom: 20px;
        border-radius: 6px;

        .image {
          border-radius: inherit;
          transition: transform 0.4s var(--easing);
        }
      }

      .badgeWrapper {
        position: absolute;
        height: clamp(51px, calc(80vw/7.68), 80px);
        width: clamp(80px, calc(125vw/7.68), 125px);
        z-index: 1;
        background: var(--primary-200);
        display: grid;
        justify-content: center;
        overflow: hidden;
        border-bottom-right-radius: 6px;
        border-top-left-radius: 6px;

        >svg {
          align-self: center;
          object-fit: contain;
          width: 100%;
          height: 100%;
        }
      }

      a {
        margin: 0 auto;

        @media (max-width: 480px) {
          font-size: 14px;
        }
      }

      .img:hover,
      &:has(.cta:hover),
      &:has(.cta:focus-visible) {
        .image {
          transform: scale(1.05);
        }
      }
    }
  }
}