.wrapper {
  max-width: 768px;
  margin: 0 auto;
  text-align: center;
  .paragraph {
    margin: clamp(20px, calc(28vw/7.68), 28px) auto 0;
    max-width: 584px;
    p {
      &:not(:last-child){
        margin-bottom: 8px;
      }
    }
  }
}