.wrapper {
  padding: clamp(28px, calc(48vw/7.68), 64px) 0;
  background-color: var(--primary-200);
  h2 {
    @media (min-width: 500px){
      text-align: center;
    }
    margin-bottom: clamp(32px, calc(64vw/7.68), 82px);
  }
  ul {
    list-style-type: none;
    display: grid;
    @media (min-width: 900px){
      grid-template-columns: 1fr 1fr;
    }
    gap: clamp(24px, calc(32vw/7.68), 64px) 32px;
    .title {
      font-family: var(--font-city-streetwear);
      font-size: clamp(40px, calc(48vw/7.68), 48px);
    }
    .description {
      em {
        font-size: 1.33em;
      }
      p:not(:last-child){
        margin-bottom: 8px;
      }
    }
  }
  .decoration {
    position: absolute;
    width: clamp(76px, calc(96vw/7.68), 134px);
    height: auto;
    left: 5%;
    top: 0;
    transform: translateY(-50%);
  }
}