.Loader {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: var(--primary-200);
  position: relative;
  overflow: hidden;

  &::before {
    content: '';
    position: absolute;
    left: -45%;
    height: 100%;
    width: 45%;
    background-image: linear-gradient(to left, rgba(251, 251, 251, .05), rgba(251, 251, 251, .3), rgba(251, 251, 251, .6), rgba(251, 251, 251, .3), rgba(251, 251, 251, .05));
    background-image: -moz-linear-gradient(to left, rgba(251, 251, 251, .05), rgba(251, 251, 251, .3), rgba(251, 251, 251, .6), rgba(251, 251, 251, .3), rgba(251, 251, 251, .05));
    background-image: -webkit-linear-gradient(to left, rgba(251, 251, 251, .05), rgba(251, 251, 251, .3), rgba(251, 251, 251, .6), rgba(251, 251, 251, .3), rgba(251, 251, 251, .05));
    animation: loading 1.5s infinite;
  }
}

.Placeholder {
  width: 100%;
  height: 56px;
  position: relative;
  background: var(--primary-200);
  position: relative;
  overflow: hidden;

  &::before {
    content: '';
    position: absolute;
    left: -45%;
    height: 100%;
    width: 45%;
    background-image: linear-gradient(to left, rgba(251, 251, 251, .05), rgba(251, 251, 251, .3), rgba(251, 251, 251, .6), rgba(251, 251, 251, .3), rgba(251, 251, 251, .05));
    background-image: -moz-linear-gradient(to left, rgba(251, 251, 251, .05), rgba(251, 251, 251, .3), rgba(251, 251, 251, .6), rgba(251, 251, 251, .3), rgba(251, 251, 251, .05));
    background-image: -webkit-linear-gradient(to left, rgba(251, 251, 251, .05), rgba(251, 251, 251, .3), rgba(251, 251, 251, .6), rgba(251, 251, 251, .3), rgba(251, 251, 251, .05));
    animation: loading 1.5s infinite;
  }
}

@keyframes loading {
  0% {
    left: -45%;
  }

  99% {
    left: 100%;
  }

  100% {
    left: 100%;
  }
}

.list {
  display: grid;
  gap: 8px;
  padding-top: 12px;
  max-height: 400px;
  overflow-y: auto;

  @media(max-width: 849px) {
    max-height: unset;
  }

  .item {
    display: grid;
    gap: 8px;
    grid-template-columns: auto 1fr;
    align-items: center;
    padding: 4px;

    &:hover {
      background-color: var(--primary-200);
    }

    span {
      color: var(--primary-600);

      .highlighted {
        color: var(--primary-800);
      }
    }

    img {
      width: 48px;
      height: 48px;
      aspect-ratio: 1/1;
      border-radius: 2px;
      object-fit: cover;
    }
  }

  &::-webkit-scrollbar {
    width: 3px;
    height: 16px;
  }

  &::-webkit-scrollbar-track {
    background-color: var(--primary-300);
    border-radius: 2px;
  }

  &::-webkit-scrollbar-thumb {
    background: var(--primary-600);
    border-radius: 2px;
  }
}

.notFound {
  grid-column: 1/-1;
  text-align: center;
  display: grid;
  gap: clamp(20px, calc(28vw/7.68), 36px);
}