.SliderControls {
  margin-top: clamp(16px, calc(24vw/7.68), 32px);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: clamp(24px, calc(36vw/7.68), 36px);
  .button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: var(--primary-200);
    transition: opacity .5s, background-color .5s;
    flex-shrink: 0;
    svg {
      transition: transform .5s var(--easing);
    }
    &:hover,
    &:focus-visible {
      background-color: var(--primary-300);
      svg {
        transform: scaleX(1.1);
      }
    }
    &:disabled {
      opacity: .62;
      pointer-events: none;
    }
  }
  > div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
  }
  .pagination {
    border-radius: 50%;
    width: 8px;
    height: 8px;
    background-color: var(--primary-500);
    opacity: .48;
    transition: transform .5s var(--easing), opacity .5s;
    &[data-active="true"] {
      transform: scale(1.5);
      opacity: 1;
    }
    &:hover,
    &:focus-visible {
      opacity: .8;
    }
  }
}