.NotesSection {
  .wrapper {
    display: grid;
    align-items: center;
    gap: clamp(12px, calc(16vw/7.68), 24px);
    justify-content: center;
  }

  header {
    text-align: center;
    display: grid;
    gap: clamp(16px, calc(28vw/7.68), 36px);
    max-width: 584px;

    span {
      display: inline-flex;
      padding: 6px;
      justify-content: center;
      align-items: center;
      border-radius: 2px;
      border: 0.5px solid var(--primary-400);
      background: var(--primary-200);
      width: fit-content;
    }
  }

  display: grid;
  align-items: center;
  justify-content: center;
  gap: clamp(12px, calc(16vw/7.68), 24px);
  padding-top: clamp(96px, calc(144vw/7.68), 240px);

  .icon {
    display: grid;
    padding: clamp(58px, calc(60vw/7.68), 92px) clamp(78px, calc(78vw/7.68), 122px) clamp(51px, calc(51vw/7.68), 76px) clamp(78px, calc(78vw/7.68), 122px);
    background: #FFF;
    width: fit-content;
    border-radius: 4px;
    justify-self: center;
  }

  .link {
    width: fit-content;

    .fileSize {
      font-weight: 300;
      font-style: italic;
      color: var(--primary-600);
    }
  }
}