.Header {
  position: sticky;
  top: 0;
  background-color: var(--primary-100);
  border-bottom: 1px solid var(--primary-300);
  z-index: 9;
  .max-width {
    padding: clamp(8px, calc(16vw / 7.68), 16px) 0 clamp(8px, calc(12vw / 7.68), 12px);
    gap: clamp(20px, calc(36vw / 7.68), 36px);
    background-color: inherit;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .logo {
    height: clamp(36px, calc(68vw / 7.68), 68px);
    display: inline-block;
    svg {
      width: auto;
      height: 100%;
    }
  }
  .quickLinks {
    list-style-type: none;
    display: flex;
    gap: clamp(20px, calc(36vw / 7.68), 36px);
    align-items: center;
    font-size: clamp(calc(14rem / 16), calc(18vw / 7.68), calc(18rem / 16));
    .basket {
      display: grid;
      grid-template-columns: auto auto;
      gap: 2px;
      &::after {
        content: attr(data-basket-items);
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 20px;
        background-color: var(--primary-400);
        padding: 4px;
        min-width: 20px;
        height: 20px;
        font-size: calc(14rem / 16);
      }
    }
  }
}

.Nav {
  .Search {
    display: none;
  }
  ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: clamp(20px, calc(36vw / 7.68), 36px);
    > li {
      > button,
      > a {
        display: flex;
        align-items: center;
        gap: 4px;
        cursor: pointer;
      }
      > button {
        width: 100%;
        &::after {
          content: '';
          width: 100%;
          height: 11px;
          background-color: var(--primary-300);
          mix-blend-mode: multiply;
          position: absolute;
          left: 0;
          bottom: 0;
          transform-origin: left;
          transform: skewX(-30deg) scaleX(0);
          transition: transform 0.3s var(--easing);
        }
      }
      position: relative;
      > ul {
        .back-btn {
          flex-shrink: 0;
          display: none;
          width: 100%;
          height: 48px;
          margin-bottom: 16px;
          align-items: center;
          text-align: center;
          padding: 0 31px 0 18px;
          border-bottom: 1px solid var(--primary-400);
          span {
            margin: 0 auto;
          }
        }
        &::before {
          content: '';
          width: 100%;
          height: 32.5px;
          position: absolute;
          left: 0;
          top: 0;
          transform: translateY(-100%);
        }
        display: none;
        position: absolute;
        left: 0;
        top: calc(100% + 32.5px);
        border-radius: 0px 0px 4px 4px;
        border-right: 1px solid var(--primary-300);
        border-bottom: 1px solid var(--primary-300);
        border-left: 1px solid var(--primary-300);
        background-color: var(--primary-100);
        padding: 16px;
        width: max-content;
        max-width: 328px;
        flex-direction: column;
        gap: 8px;
        > li {
          width: 100%;
          a {
            padding: 4px;
            transition: background-color 0.5s;
            display: grid;
            grid-template-columns: auto 1fr;
            gap: 8px;
            img {
              width: 48px;
              height: 48px;
            }
            &:hover {
              background-color: var(--primary-200);
            }
          }
        }
      }
    }
  }
  &[data-tab='0'] .Nav__item[data-id='0'],
  &[data-tab='1'] .Nav__item[data-id='1'],
  &[data-tab='2'] .Nav__item[data-id='2'],
  &[data-tab='3'] .Nav__item[data-id='3'],
  &[data-tab='4'] .Nav__item[data-id='4'] {
    > button {
      &::after {
        transform: skewX(0) scaleX(1);
      }
    }
    > ul {
      display: flex;
    }
  }

  // Mobile
  @media (max-width: 1189px) {
    .Search {
      display: flex;
      margin-bottom: 20px;
    }
    &[data-opened='false'] {
      ul {
        opacity: 0;
        visibility: hidden;
      }
    }
    ul {
      display: block;
      position: absolute;
      right: 0;
      top: 100%;
      border-radius: 0px 0px 4px 4px;
      border-bottom: 1px solid var(--primary-300);
      border-left: 1px solid var(--primary-300);
      background-color: var(--primary-100);
      width: calc(100% - var(--pageMargin) * 2);
      max-width: 360px;
      padding: 16px;
      > li {
        > button,
        > a {
          height: 48px;
          justify-content: space-between;
          svg {
            transform: rotate(-90deg) scale(1.3);
          }
          &:not(:last-child) {
            margin-bottom: 4px;
          }
        }
        > button {
          &::after {
            display: none;
          }
        }
        position: static;
        > ul {
          z-index: 2;
          .back-btn {
            display: flex;
          }
          &::before {
            display: none;
          }
          position: absolute;
          left: 0;
          top: 0;
          border-radius: unset;
          border-right: unset;
          border-bottom: unset;
          border-left: unset;
          padding: 16px;
          width: 100%;
          height: 100%;
          max-height: 100%;
          overflow: auto;
          max-width: unset;
          gap: 8px;
        }
      }
    }
  }
}
.Nav__Toggle {
  order: 1;
  display: grid;
  @media (min-width: 1190px) {
    display: none;
  }
  gap: 6px;
  padding: 11px;
  border-radius: 50%;
  svg {
    path {
      transition: stroke-dashoffset 0.5s 0s var(--easing);
      &:nth-child(1),
      &:nth-child(2) {
        stroke-dasharray: 58;
        stroke-dashoffset: 34;
      }
      &:nth-child(3) {
        stroke-dasharray: 24;
        transition-delay: 0.3s;
      }
    }
  }
  color: var(--primary-700);
}

.Overlay {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgba(180, 162, 156, 0.42);
  backdrop-filter: blur(2px);
  z-index: 9;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s;
  &[data-visible='true'] {
    opacity: 1;
    pointer-events: all;
  }
}

.Nav[data-opened='true'] {
  + .Nav__Toggle {
    svg {
      path {
        &:nth-child(1),
        &:nth-child(2) {
          stroke-dashoffset: -24;
          transition-delay: 0.3s;
        }
        &:nth-child(3) {
          stroke-dashoffset: 24;
          transition-delay: 0s;
        }
      }
    }
  }
}

@media (max-width: 499px) {
  .Nav {
    ul {
      z-index: 3;
      position: fixed;
      right: var(--pageMargin);
      top: unset;
      bottom: 25%;
      border-radius: 4px;
      border: 1px solid var(--primary-300);
      background-color: var(--primary-100);
      max-width: calc(100% - var(--pageMargin) * 2);
    }
  }
  .Nav__Toggle {
    z-index: 3;
    position: fixed;
    bottom: calc(25% - 24px);
    right: calc(var(--pageMargin) / 2);
    background-color: var(--primary-600);
    color: var(--primary-100);
  }
}

.Annotation {
  z-index: 9;
  position: relative;
  background-color: var(--primary-200);
  padding: 8px 0 12px;
  > div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    text-align: center;
  }
}

.Header > .Search {
  &[data-visible='false'] {
    transform: translateY(-100%);
    visibility: hidden;
  }
  z-index: -1;
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
}

.Search {
  position: relative;
  margin: 0 auto;
  padding: 8px 20px;
  border-radius: 0px 0px 4px 4px;
  border: 1px solid var(--primary-300);
  background-color: var(--primary-100);
  height: 48px;
  max-width: 380px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition:
    background-color 0.5s,
    border-color 0.5s,
    transform 0.5s var(--easing),
    visibility 0.5s;
  &:has(input:hover) {
    border-color: var(--primary-400);
  }
  &:has(input:focus-visible) {
    background-color: var(--primary-200);
  }
  input {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: inherit;
    padding: 0 52px 0 48px;
    &::placeholder {
      color: var(--primary-500);
    }
    &:focus-visible {
      outline: none;
    }
  }
  .clear {
    z-index: 2;
    position: relative;
  }
  &:has(input[data-searching='false']) {
    .clear {
      opacity: 0;
      pointer-events: none;
    }
  }
}

.skipToMainContent {
  z-index: 10;
  opacity: 0;
  pointer-events: none;
  position: fixed;
  left: 21px;
  top: 21px;
  overflow: hidden;
  padding: 13px 21px;
  background-color: var(--primary-300);
  border: 1px solid var(--primary-400);
  &:focus-visible {
    opacity: 1;
    pointer-events: auto;
  }
}

.Cart {
  max-width: 976px;
  padding: clamp(32px, calc(48vw / 7.68), 48px) clamp(16px, calc(80vw / 7.68), 96px);
  width: 100%;
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: var(--primary-200);
  z-index: 100;
  overflow: auto;
  overscroll-behavior: contain;
  transform: translateX(100%);
  transition: transform 0.5s var(--easing);
  &[data-visible='true'] {
    transform: translateX(0);
  }
  form {
    margin-top: 16px;
    display: grid;
    gap: 16px;
    &.empty {
      pointer-events: none;
      opacity: 0.5;
    }
    .flex {
      margin-top: 12px;
    }
    .line {
      margin-bottom: 12px;
      border-top: 1px solid var(--primary-300, #efe8e7);
    }

    .promoCode {
      max-width: 320px;
      display: grid;
      grid-template-columns: 1fr auto;
      gap: 12px;
      align-items: flex-end;
      .inputWrapper {
        position: relative;
        button {
          position: absolute;
          right: 8px;
          bottom: 5px;
        }
      }
      .apply {
        margin-bottom: 6px;
      }
    }

    .virtualCoins {
      max-width: 320px;
      .inputWrapper {
        position: relative;
        font-size: 1rem;
        .mask {
          pointer-events: none;
          position: absolute;
          left: 9px;
          line-height: 1;
          bottom: 10px;
          color: var(--primary-500);
          font-weight: 700;

          .hide {
            visibility: hidden;
          }
        }
        button {
          position: absolute;
          right: 8px;
          bottom: 5px;
        }
      }
    }
  }
  .flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
    .CloseButton {
      border-radius: 50%;
      transition: background-color 0.5s var(--easing);
      &:hover {
        background-color: var(--primary-300);
      }
      width: 48px;
      height: 48px;
      display: grid;
      place-items: center;
    }
  }
  .CartHeader {
    position: sticky;
    z-index: 9;
    margin: calc(clamp(8px, calc(16vw / 7.68), 16px) * -1) calc(clamp(16px, calc(80vw / 7.68), 96px) * -1);
    padding: clamp(8px, calc(16vw / 7.68), 16px) clamp(16px, calc(80vw / 7.68), 96px);
    top: calc(clamp(32px, calc(48vw / 7.68), 48px) * -1);
    background-color: var(--primary-200);
  }
  @media (max-width: 640px) {
    padding-left: 16px;
    padding-right: 16px;
    .CartHeader {
      margin: calc(clamp(8px, calc(16vw / 7.68), 16px) * -1) -16px;
      padding-left: 16px;
      padding-right: 16px;
    }
  }

  .grid {
    margin-top: 48px;
  }

  .highlighted {
    > h3 {
      margin-top: 128px;
      text-align: center;
    }
    > p {
      text-align: center;
      margin-top: 36px;
    }
    .grid {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: clamp(24px, calc(32vw / 7.68), 32px);
      margin-top: clamp(28px, calc(48vw / 7.68), 64px);

      @media (max-width: 580px) {
        grid-template-columns: 1fr;
      }
    }
  }

  .empty {
    > h2 {
      margin-top: clamp(48px, calc(48vw / 7.68), 64px);
      margin-bottom: clamp(16px, calc(16vw / 7.68), 28px);
      text-align: center;
    }
    > p {
      text-align: center;
    }

    .grid {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: clamp(16px, calc(24vw / 7.68), 24px);
      margin: 0 auto;
      width: fit-content;
      margin-top: clamp(20px, calc(48vw / 7.68), 48px);

      > div {
        max-width: 292px;
        width: 100%;

        img {
          margin-bottom: 20px;
          border-radius: 6px;
        }

        a {
          margin: 0 auto;

          @media (max-width: 480px) {
            font-size: 14px;
          }
        }
      }
    }
  }

  .product {
    padding-top: 16px;
    padding-bottom: 8px;
    border-bottom: 1px solid var(--primary-300, #efe8e7);

    display: grid;
    grid-template-columns: 175px 1fr 1fr;
    gap: 16px;

    &:last-child {
      border-bottom: none;
    }

    img {
      border-radius: 4px;
    }

    h3 {
      color: var(--primary-800, #53423c);
      font-size: 18px;
      font-weight: 300;
      line-height: 28px;
      margin-bottom: 12px;
    }
  }

  .calculator {
    .title {
      display: block;
      color: var(--primary-600, #9a827a);
      font-size: 14px;
      font-weight: 300;
      line-height: 150%;
    }
  }

  .omnibus {
    color: var(--primary-600, #9a827a);
    font-size: 14px;
    font-weight: 300;
    line-height: 150%;
  }

  .right-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .price {
      display: flex;
      align-items: center;
      grid-area: 8px;

      span {
        color: var(--primary-800, #53423c);
        font-size: 18px;
        font-weight: 300;
        line-height: 150%;

        &.discount {
          color: var(--primary-600, #9a827a);
          font-size: 14px;
          line-height: 150%;
          text-decoration: line-through;
        }
      }
    }
  }

  .remove {
    display: block;
    margin-left: auto;
  }
}
