.ProductOptionsSection {
  header {
    max-width: calc(760rem / 16);
    margin: 0 auto clamp(24px, calc(48vw / 7.68), 64px);
    text-align: center;

    h2 {
      margin-bottom: clamp(12px, calc(24vw / 7.68), 24px);
    }

    .paragraph {
      max-width: calc(640rem / 16);
      margin: 0 auto;
    }
  }

  .tiles {
    max-width: calc(1200rem / 16);
    margin: 0 auto;
    display: grid;
    gap: clamp(16px, calc(28vw / 7.68), 32px);
    grid-template-columns: 1fr;

    @media (min-width: 700px) {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    @media (min-width: 1024px) {
      grid-template-columns: repeat(var(--columns, 3), minmax(0, 1fr));
    }
  }

  .item {
    display: flex;
    flex-direction: column;
    background-color: var(--primary-200);
    border-radius: 6px;
    overflow: hidden;
    padding-bottom: clamp(20px, calc(28vw / 7.68), 32px);
  }

  .image {
    aspect-ratio: 4/3;
    object-fit: cover;
    width: 100%;
    height: auto;
    margin-bottom: clamp(20px, calc(28vw / 7.68), 32px);
  }

  h3,
  .description {
    padding: 0 clamp(16px, calc(24vw / 7.68), 28px);
  }

  h3 {
    margin-bottom: clamp(12px, calc(20vw / 7.68), 20px);
    font-size: clamp(calc(24rem / 16), calc(34vw / 7.68), calc(34rem / 16));
  }

  .description {
    margin-bottom: clamp(20px, calc(28vw / 7.68), 28px);
    flex: 1;
  }

  .cta {
    margin-left: clamp(16px, calc(24vw / 7.68), 28px);
  }
}
